.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
/notebooks/
dist/
build/
*.egg-info/
.DS_Store

results/*
!results/.gitkeep
!results/00_gaussian_1d/
!results/00_gaussian_1d/*.png
!results/00_gaussian_1d/metrics.json
!results/01_gaussian_mixture_2d/
!results/01_gaussian_mixture_2d/*.png
!results/01_gaussian_mixture_2d/metrics.json
